<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    <br><br>
    <h1 class="text-center" Style="font-size: 35px;"><b>Description</b></h1>
    <br>
    <br>

    <div  class="text-center" Style="font-size: 25px;">

      <p>
        <strong>Title:</strong>
        <%= @article.title %>
      </p>
      
      <p>
        <strong>Text:</strong>
        <%= @article.text %>
      </p>
      
      <%= link_to '<button type="button" class="btn btn-primary" Style="font-size: 15px;">Edit</button>'.html_safe, edit_article_path(@article) %> |
      <%= link_to '<button type="button" class="btn btn-primary" Style="font-size: 15px;">Back</button>'.html_safe, articles_path %>
    </div>
</body>
